{{ form_start(form) }}
    {{ form_widget(form) }}
<<<<<<< HEAD
    <button class="btn btn-outline-secondary btn-lg">{{ button_label|default('Save') }}</button>
=======
    <button class="btn">{{ button_label|default('Save') }}</button>
>>>>>>> e6ebb3acc92cbcbd50a1b811ae6b8f2a025d24fd
{{ form_end(form) }}
