{% extends 'base.html.twig' %}

{% block title %}Ticket{% endblock %}

{% block body %}
    <h1 align="center">{{ ticket.name }}</h1>

    <table align="center" class="table table-bordered">
        <thead class="thead-light">
        
            <tr align="center">
            <th scope="col">Type</th>
            <th scope="col">Status</th>
            <th scope="col">Creator</th>
            <th scope="col">Assigned to</th>
            <th scope="col">Tags</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr align="center">
                <td>{{ ticket.type }}</td>
                <td>{{ ticket.status }}</td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>
                    <a class="btn btn-outline-secondary btn-sm" href="{{ path('ticket_edit', {'id': ticket.id}) }}" role="button">Edit</a>&ensp;
                    <a class="btn btn-outline-secondary btn-sm" href="{{ path('ticket_delete', {'id': ticket.id}) }}" role="button">Delete</a></td>
                </td>
        </tbody>
    </table>
    <h1 align="center">
    Comments
    </h1>
    {% for comment in ticket.comments %}
    <div align="center">
        <p>Name: </p>
        <p>Comment: {{ comment.text }}</p>
        <p><a class="btn btn-outline-secondary btn-sm" href="#" role="button">Delete</a></p>
    </div>
    {% endfor %}
 
{{ include('comment/index.html.twig') }}

{% endblock %}
